body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: aqua;
  height: 100px;
}

.cart-div{
  float:right;
  margin:25px;
  position: relative;
}

.cart-div img{
  width: 2.5rem;
}
.cart-div > span {
  border-radius: 20px;
    position: absolute;
    z-index: 5;
    height: 20px;
    top: -8px;
    right: -4px;
    text-align: center;
    background: aliceblue;
    color: brown;
    width: 20px;
}
