
.header{
  background-color: aqua;
  height: 100px;
}

.cart-div{
  float:right;
  margin:25px;
  position: relative;
}

.cart-div img{
  width: 2.5rem;
}
.cart-div > span {
  border-radius: 20px;
    position: absolute;
    z-index: 5;
    height: 20px;
    top: -8px;
    right: -4px;
    text-align: center;
    background: aliceblue;
    color: brown;
    width: 20px;
}

.product-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:10px;
  justify-content:center;
}
.product-item{
  margin: 10px;
  padding:10px;
  border:1px solid #ccc;
}